
body {
    font-family: 'Poppins', sans-serif;
    color: grey;
}
/* Provides background styling when nothing has been searched */
main {
    background: linear-gradient(to right, blueviolet,rgb(196, 146, 242));
}

