/* Set font to the body */
body {
    font-family: 'Poppins', sans-serif;
}

main {
    /* Set padding and color to the background */
    padding-top: 32px;
    padding-bottom: 382px;
    background: linear-gradient(to right, blueviolet, rgb(196, 146, 242));
}

h1 {
    /* Align header text to center */
    text-align: center;

}

.game {
    /* provides margin to the questions section */
    margin-top: 120px;
    height: 120px;
    ;
}

.question {
    /* Set margon bottom to the question */
    margin-bottom: 40px;

}

.progressBar {
    /* set the width of the progress bar */
    width: 300px;
}

.clear {
    /* to clear element from the screen */
    display: none;
}

.playerSection {
    /* set margin top to the buttons */
    margin-top: 60px;
}

.btn {
    /* set font and padding to the buttons */
    font-size: 24px;
    padding: 8px;

}



.answer {
    /* set margin and height to the answer */
    margin-top: 60px;
    height: 40px;

}


.scorePoints {
    /* set position to the result */
    position: relative;
    bottom: 50px;
}

.board {
    position: relative;
    bottom: 50px;
}

.score {
    position: relative;
    bottom: 165px;

}

@media screen and (max-width: 576px) {
    /* apply the followings setting when the screen is 576 px or less */
    main {
        padding-bottom: 300px;
    }

    .navBar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .game {
        margin-top: 20px;
        height: auto;
    }

    .playerSection {
        margin-top: 20px;
    }

    .ans {
        display: flex;
        align-items: center;
    }

    .answer {
        margin-top: 24px;
        height: 60px;
    }
}