
main{
  /* margin: 25%; */
    /* background-image: url(./Pictures/igor-karimov-9AmKnNZw3GA-unsplash.jpg); */
    background-size: cover;
    background-position: center;
    padding-top: 32px;
    padding-bottom: 628px;
    background: linear-gradient(to right, blueviolet,rgb(196, 146, 242));
}

h1{
    text-align: center;
    
}



.game{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 120px;
    
}

.question{
    margin-bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.progressBar{
    width:  300px;
}
.clearBar{
    display: none;
}

.playerSection{  
    margin-top: 60px;
}

.btn{
    font-size: 24px;
    padding: 8px;
}



.answer{    
    margin-top: 60px;

}

