
.header{
    height: auto;
   
}
h1{
    text-align: center;
}
main{
    position:absolute;
}
.game{
    position: relative;
    top: 50px;
    left: 50px;
    margin-top: 40px;
    
}

.question{
    margin: 40px;
}

.progressBar{
    width:  264px;
}
.clearBar{
    display: none;
}

.playerSection{
    position: relative;
    top: 50px;
    left: 50px;
    margin-top: 20px;
}

.btn{
    font-size: 24px;
    padding: 8px;
}

.answer{
    position: relative;
    top: 50px;
    left: 50px;
    margin-top: 20px;
}

